.option{
  border-bottom: 1px solid lighten($light-blue, $amount: 10%);
  display: flex;
  margin: $s-size;
  padding:$m-size $s-size ;
  justify-content: space-between;
  white-space: nowrap;
  overflow: auto;
  text-overflow: ellipsis; 
}
.option__text {
  color:$off-white;
  font-weight: 500;
  margin: 0;
  word-break: break-all;
 }