.option{
  border-bottom: 1px solid lighten($light-blue, $amount: 10%);
 
  display: flex;
  margin: $s-size;
  padding:$m-size $s-size ;
  justify-content: space-between;
}

.option__text{
 color:$off-white;
 font-weight: 500;
 margin: 0;
 
}